[defaults]
inventory = ./inventory/servers.yml
#  ANSIBLE_PLAYBOOK_VARS_ROOT = 
#interpreter_python = /usr/bin/python3
#ansible_python_interpreter: '{{ ansible_playbook_python }}'
pipelining = true

[passwordstore_lookup]
directory = ./.password-store
passwordstore = ./.password-store
returnall=true
